@using Site.Models.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Area Riservata</h1>

<p>Ciao @(((Utente)ViewData["UtenteLoggato"]).Username)</p>

@if (((Utente)ViewData["UtenteLoggato"]).Foto != null)
{
    <img src="/@((Utente)ViewData["UtenteLoggato"]).Foto" width="40" />
}
else
{
    <img src="~/imgs/user.png" width="40" />
}
<a asp-controller="AreaRiservata" asp-action="ModificaFotoUtente" asp-route-id="@(((Utente)ViewData["UtenteLoggato"]).Id)" class="btn btn-success btn-sm">Modifica foto</a>
