@model Site.Models.Views.RegistrazioneViewModel

@{
    ViewData["Title"] = "Registrazione";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="Registrazione">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ConfermaPassword" class="control-label"></label>
                <input asp-for="ConfermaPassword" class="form-control" />
                <span asp-validation-for="ConfermaPassword" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Invia" class="btn btn-primary" />
        @if (ViewData["MsgKo"] != null)
        {
            <span class="text-danger"> @Html.Raw(ViewData["MsgKo"].ToString())</span>
        }
        else if  (ViewData["MsgOk"] != null)
        {
            <span class="text-succes"> @Html.Raw(ViewData["MsgOk"].ToString())</span>
        }
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}